@{
  Layout = "_Layout";
}

@using PierresTreatsSolution.Modelss

<h1>Treats</h1>

@if (@Model.Count == 0)
{
  <h3>No Treats have been added yet!</h3>
} 

<ul>
  @foreach (Treat Treat in Model)
{
 <li>@Html.ActionLink($"{Treat.Name}", "Show", new { id = Treat.TreatId},null)</li>
}
</ul>


<p>@Html.ActionLink("Add a new Treat", "Create",null, new {})</p>

